#control
  a(href="#", id="approach") Approach
  label(for="start") Start:
  form#startInput
    input(type="text", id="start")
  label(for="goal") Goal:
  form#goalInput
    input(type="text", id="goal")
