#control
  a(href="#", id="approach") Approach
  div
    label(for="start") Start:
    form#startInput
      input(type="text", id="start")
  div
    label(for="goal") Goal:
    form#goalInput
      input(type="text", id="goal")
