.eyeBall(id='eyeBall_1')
.eyeBall(id='eyeBall_2')
.roomsearch
  input#room
.face
  .eyeBrow(id='left')
  .eyeBrow(id='right')
  .eyeContainer(rel='1', id='left')
  .eyeContainer(rel='2', id='right')
  canvas(id='debugCanvas')
  pre(class='debug')
  .mouth
#bowtie
  img(src='/img/bowtie.jpg')
#faces
  ul
div#port
