.eyeBall(id='eyeBall_1')
.eyeBall(id='eyeBall_2')
.face
  .eyeBrow(id='left')
  .eyeBrow(id='right')
  .eyeContainer(rel='1', id='left')
  .eyeContainer(rel='2', id='right')
  canvas(id='debugCanvas')
  pre(class='debug')
  .mouth
#talkingBox
  #port
  #bowtie
    img(src='/img/bowtie.jpg')
#box
  .display
    .roomsearch
      input(type="text", id="room")
#prompt
  .options
    ul
      li
        a(href="#") Find a person or room
      li
        a(href="#") Show me Imperial news and events
      li
        a(href="#") Tell me a joke
#hand
  img(src='/img/hand-left.png')
#faces
  ul
#commands
  ul
    li
      a(href="#", id="approached") approached
    li
      a(href="#", id="message") welcome message
    li
      a(href="#", id="another_message") another message
    li
      form#submitmessage
        input(type="text", id="text")
