.face
  .eyeBrow(id='left')
  .eyeBrow(id='right')
  .eyeContainer(rel='1', id='left')
    .eyeBall(id='eyeBall_1')
  .eyeContainer(rel='2', id='right')
    .eyeBall(id='eyeBall_2')
  .mouth
#container
  .slides.clearfix
    .slide
      #talkingBox
        #port
        #bowtie
          img(src='/img/bowtie.jpg')
        a(href="#", id="start2") Start 2
        a(href="#", id="start") Start
    .slide
      #prompt
        .options
          ul
            li
              a(href="#") Find a person or room
            li
              a(href="#") Show me Imperial news and events
            li
              a(href="#") Tell me a joke
        #display
          h3 Find a person or a room
          input(type="text", id="personfinder", placeholder="Type in a name or room number")
      #hand
        img(src='/img/hand-left.png')
#faces
  ul
#commands
  ul
    li
      a(href="#", id="approached") approached
    li
      a(href="#", id="message") welcome message
    li
      a(href="#", id="another_message") another message
    li
      form#submitmessage
        input(type="text", id="text")
