!!!
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css')
  body!= body
  script(src="/socket.io/socket.io.js")
  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js")
  script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js')
  script(src="/js/jquery.scrollTo.js")
  script(src="/js/eyes.js")
  script(src="/js/face.js")
  script(src="/js/script.js")
  script(src="/js/eee.js")
