body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.face {
  width: 800px;
  height: 450px;
  margin: 0 auto;
  position: relative;
}
.eyeBrow {
  position: absolute;
  height: 0px;
  border: 1px solid black;
  width: 200px;
}
.eyeBrow#left {
  left: 130px;
}
.eyeBrow#right {
  right: 130px;
}
.eyeContainer {
  position: absolute;
  border: 1px solid black;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  top: 50px;
}
.eyeContainer#left {
  left: 130px;
}
.eyeContainer#right {
  right: 130px;
}
.eyeBall {
  border: 1px solid black;
  background: black;
  width: 20px;
  height: 20px;
  border-radius: 60px;
  float: left;
  position: absolute;
  display: none;
}
.mouth {
  border: 1px solid #000;
  height: 0px;
  width: 200px;
  -webkit-border-bottom-right-radius: 500px;
  -webkit-border-bottom-left-radius: 500px;
  -moz-border-radius-bottomright: 500px;
  -moz-border-radius-bottomleft: 500px;
  border-bottom-right-radius: 500px;
  border-bottom-left-radius: 500px;
  bottom: 10px;
  left: 295px;
  position: absolute;
}
#bowtie {
  width: 300px;
  margin: 0 auto;
  margin-top: 40px;
}
#bowtie img {
  width: 300px;
}
#debugCanvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
ul#messagelist {
  height: 150px;
  width: 200px;
  overflow: auto;
  position: absolute;
  bottom: 0px;
  right: 10%;
  border: 1px solid #BEBEBE;
}
ul#messagelist li {
  margin-bottom: 5px;
}
ul#messagelist li.error {
  color: red;
}
.debugMessage {
  width: 85%;
}
.debugMessage ul li {
  margin-bottom: 5px;
}
.debugMessage ul span {
  font-style: italic;
  color: #666;
  margin-right: 15px;
}
.debugMessage ul .info {
  font-style: italic;
}
#faces {
  position: fixed;
  bottom: 5px;
  left: 5px;
}
#faces ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#faces ul li {
  float: left;
  margin-right: 10px;
}
#box {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 999;
  border: 1px solid #BEBEBE;
}
.roomsearch {
  background-color: white;
  width: 800px;
  height: 380px;
  left: 50%;
  top: 72px;
  position: absolute;
  z-index: 999;
  text-align: center;
}
#room {
  width: 500px;
  height: 38px;
  margin: 250px 0;
  font-size: 28px;
  border: 3px solid #262E6C;
  padding: 10px;
}
#talkingBox {
  height: 100px;
}
#talkingBox #port {
  font-size: 200%;
  text-align: center;
  padding-top: 30px;
}
