body {
    margin-top: 70px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

// motorola tablet width vertical
@width: 980px;

a {
    color: #00B7FF;
}

@alert: red;

h3 {
    font-size: 60px;
    font-style: italic;
}

.face {
	width: 980px;
	height: 700px;
	margin: 0 auto;
    position: relative;
    margin-top: 20px;
}

.eyeBrow {
    position: absolute;
    height: 0px;
    width: 340px;
    margin-bottom: 40px;
    top: 50px;
    border: 2px solid black;
    background: black;
    &#left {
        left: 80px;
    }
    &#right {
        right: 80px;
    }
    &.up {
        top: -15px;
    }
}

.eyeContainer {
    position: absolute;
	border: 2px solid black;
	width: 340px;
	height: 340px;
	border-radius: 200px;
    top: 120px;
    background: none;
    &#left {
        left: 80px;
    }
    &#right {
        right: 80px;
    }
    &.close {
        height: 1px;
        top: 230px;
        background: black;
    }
}

.eyeBall {
	border: 1px solid black;
	background: black;
	width: 20px;
	height: 20px;
	border-radius: 60px;
	float: left;
	position: absolute;
    /*display: none;*/
}

#mouth {
    border: 2px solid #000;
    height: 0px;
    width: 400px;
    -webkit-border-bottom-right-radius: 500px;
    -webkit-border-bottom-left-radius: 500px;
    -moz-border-radius-bottomright: 500px;
    -moz-border-radius-bottomleft: 500px;
    border-bottom-right-radius: 500px;
    border-bottom-left-radius: 500px;
    bottom: 10px;
    left: 300px;
    background: white;
    position: absolute;
    &.look {
        width: 400px;
    }
    &.small {
        width: 80px;
        height: 1px;
        background: black;
    }
    &.smile {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 500px;
        border-bottom-left-radius: 500px;
        border-top: none;
        height: 180px;
        bottom: -60px;
    }
    &.open {
        border-radius: 200px;
        height: 150px;
        width: 150px;
        left: 405px;
        bottom: -20px;
    }
    &.smileopen {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 160px;
        border-bottom-left-radius: 160px;
        border: 2px solid black;
        height: 180px;
        bottom: -60px;
    }
    &.sad {
        border-top-right-radius: 70px;
        border-top-left-radius: 70px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom: none;
        width: 150px;
        height: 20px;
        left: 405px;
    }
    &.dizzy {
    }
}

#debugCanvas{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left:0px;
}

ul#messagelist {
    height: 150px;
    width: 200px;
    overflow:auto;
    position: absolute;
    bottom: 0px;
    right: 10%;
    border: 1px solid #BEBEBE;
	li {
        &.error {
            color: @alert;
        }
        margin-bottom: 5px;
	}
}	

.debugMessage {
    width: 85%;
    ul {
        li {
            margin-bottom: 5px;
        }
        span {
            font-style: italic;
            color: #666;
            margin-right: 15px;
        }
        .info {
            font-style: italic;
        }
    }
}

#faces {
    position: fixed;
    bottom: 20px;
    left: 5px;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            float: left;
            margin-right: 10px;
        }
    }
}

#commands {
    position: fixed;
    bottom: 5px;
    right: 5px;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            float: left;
            margin-right: 10px;
        }
    }
}

#box {
    display: none;
    position: absolute;
	width: 880px;
	height: 1000px;
    bottom: 30px;
    left: 50px;
    background: #fff;
    z-index: 999;
    border: 1px solid #BEBEBE;
}

.roomsearch {
	background-color: white;
    width: 800px;
    height: 380px;
	left: 50%;
	top: 72px;
    position: absolute;
	z-index: 999;
	text-align: center;
}

#room {
    width: 500px;
    height: 38px;
    margin: 250px 0;
	font-size: 28px;
	border: 3px solid #262E6C;
	padding: 10px;
}

#talkingBox {
    width: 960px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    #port {
        width: 900px;
        font-size: 200%;
        text-align: center;
        display: none;
        top: 160px;
        position: absolute;
    }
    #bowtie {
        width: 500px;
        left: 230px;
        top: 80px;
        position: absolute;
        img {
            width: 500px;
        }
    }
}

#prompt {
    margin-top: 70px;
    padding: 50px;
    padding-bottom: 30px;
    /*border: 1px solid #BEBEBE;*/
    background: #fff;
    height: 200px;
    .options {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            li {
                font-size: 30px;
                margin-bottom: 20px;
                a {
                    color: #444;
                    text-decoration: none;
                }
            }
        }
    }
    #showBox {
        position: absolute;
        left: 70px;
        top: 50px;
        width: 50px;
        height: 50px;
        background: url('../img/round_plus_icon&48-black.png') 0 0 no-repeat;
    }
}

#container {
    width: 980px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    .slides {
        width: 3000px;
        .slide {
            float: left;
            width: 900px;
            display: block;
            margin-right: 50px;
        }
    }
}

#display {
    .locationSubmit {
        display: none;
        #personfinder {
            width: 800px;
            height: 50px;
            padding: 5px;
            font-size: 25px;
        }
    }
}

#hand {
    display: none;
    position: absolute;
    right: 130px;
    bottom: 80px;
    img {
        width: 150px;
    }
}

#options {
    position: absolute;
    right: 10px;
    top: 200px;
    font-size: 40px;
    color: #444;
    text-decoration: none;
    display: none;
}

.ui-autocomplete {
	font-size: 25px;
	border: 1px solid #030;	
	width: 800px;
	padding: 0;
}

.ui-menu-item {
	padding: 10px;
	border: 1px solid #030;

	list-style: none;
	margin: -1px;
}

.ui-menu-item:hover {
	background-color: #EDFFD2;	
}

#popup {
    display: none;
    position: absolute;
    width: 850px;
    height: 260px;
    background: white;
    border: 1px solid #BEBEBE;
    padding: 50px;
    bottom: 10px;
    h3 {
        margin: 0px;
        margin-bottom: 10px;
    }
    input {
        width: 400px;
        margin-right: 50px;
        margin-top: 20px;
        height: 100px;
        font-size: 40px;
        &#recogDenied {
            margin-right: 0px;
        }
    }
    .speechRecog {
        display: none;
    }
    .floorConfirm {
        display: none;
    }
}

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
