body {
  margin-top: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
h3 {
  font-size: 60px;
  font-style: italic;
}
.face {
  width: 980px;
  height: 700px;
  margin: 0 auto;
  position: relative;
  margin-top: 20px;
}
.eyeBrow {
  position: absolute;
  height: 0px;
  border: 1px solid black;
  width: 200px;
}
.eyeBrow#left {
  left: 80px;
}
.eyeBrow#right {
  right: 80px;
}
.eyeContainer {
  position: absolute;
  border: 2px solid black;
  width: 260px;
  height: 260px;
  border-radius: 200px;
  top: 50px;
}
.eyeContainer#left {
  left: 80px;
}
.eyeContainer#right {
  right: 80px;
}
.eyeBall {
  border: 1px solid black;
  background: black;
  width: 20px;
  height: 20px;
  border-radius: 60px;
  float: left;
  position: absolute;
  display: none;
}
.mouth {
  border: 1px solid #000;
  height: 0px;
  width: 200px;
  -webkit-border-bottom-right-radius: 500px;
  -webkit-border-bottom-left-radius: 500px;
  -moz-border-radius-bottomright: 500px;
  -moz-border-radius-bottomleft: 500px;
  border-bottom-right-radius: 500px;
  border-bottom-left-radius: 500px;
  left: 295px;
  position: absolute;
}
#debugCanvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
ul#messagelist {
  height: 150px;
  width: 200px;
  overflow: auto;
  position: absolute;
  bottom: 0px;
  right: 10%;
  border: 1px solid #BEBEBE;
}
ul#messagelist li {
  margin-bottom: 5px;
}
ul#messagelist li.error {
  color: red;
}
.debugMessage {
  width: 85%;
}
.debugMessage ul li {
  margin-bottom: 5px;
}
.debugMessage ul span {
  font-style: italic;
  color: #666;
  margin-right: 15px;
}
.debugMessage ul .info {
  font-style: italic;
}
#faces {
  position: fixed;
  bottom: 20px;
  left: 5px;
}
#faces ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#faces ul li {
  float: left;
  margin-right: 10px;
}
#commands {
  position: fixed;
  bottom: 5px;
  right: 5px;
}
#commands ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#commands ul li {
  float: left;
  margin-right: 10px;
}
#box {
  display: none;
  position: absolute;
  width: 880px;
  height: 1000px;
  bottom: 30px;
  left: 50px;
  background: #fff;
  z-index: 999;
  border: 1px solid #BEBEBE;
}
.roomsearch {
  background-color: white;
  width: 800px;
  height: 380px;
  left: 50%;
  top: 72px;
  position: absolute;
  z-index: 999;
  text-align: center;
}
#room {
  width: 500px;
  height: 38px;
  margin: 250px 0;
  font-size: 28px;
  border: 3px solid #262E6C;
  padding: 10px;
}
#talkingBox {
  width: 960px;
  height: 400px;
  margin: 0 auto;
  position: relative;
}
#talkingBox #port {
  width: 900px;
  font-size: 200%;
  text-align: center;
  display: none;
  top: 160px;
  position: absolute;
}
#talkingBox #bowtie {
  width: 500px;
  left: 230px;
  top: 80px;
  position: absolute;
}
#talkingBox #bowtie img {
  width: 500px;
}
#prompt {
  margin-top: 70px;
  padding: 50px;
  padding-bottom: 30px;
  /*border: 1px solid #BEBEBE;*/

  background: #fff;
  height: 200px;
}
#prompt .options ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#prompt .options ul li {
  font-size: 30px;
  margin-bottom: 20px;
}
#prompt .options ul li a {
  color: #444;
  text-decoration: none;
}
#prompt #showBox {
  position: absolute;
  left: 70px;
  top: 50px;
  width: 50px;
  height: 50px;
  background: url('../img/round_plus_icon&48-black.png') 0 0 no-repeat;
}
#container {
  width: 900px;
  height: 400px;
  overflow: hidden;
}
#container .slides {
  width: 3000px;
}
#container .slides .slide {
  float: left;
  width: 900px;
  display: block;
  margin-right: 50px;
}
#display {
  display: none;
}
#display #personfinder {
  width: 800px;
  height: 50px;
  padding: 5px;
  font-size: 25px;
}
#hand {
  display: none;
  position: absolute;
  right: 130px;
  bottom: 80px;
}
#hand img {
  width: 150px;
}
.ui-autocomplete {
  font-size: 25px;
  border: 1px solid #030;
  width: 800px;
  padding: 0;
}
.ui-menu-item {
  padding: 10px;
  border: 1px solid #030;
  list-style: none;
  margin: -1px;
}
.ui-menu-item:hover {
  background-color: #EDFFD2;
}
/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
