body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

@alert: red;

ul#messagelist {
    height: 60px;
    width: 200px;
    overflow:auto;
    padding: 10px;
    position: absolute;
    bottom: 0px;
    right: 10%;
    border: 1px solid #BEBEBE;
	li {
		color: @alert;
	}
}	
